p {
  margin: auto 0 1em 0;
}

li {
  margin-bottom: 1em;
}

.content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.content h1 {
  flex: 100%;
}

.license {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  position: relative;
}

.license img {
  margin-right: 20px;
}

.layout {
  display: flex;
}

.map-sections {
  flex: 0 0 450px;
}

.map-section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 20px;
}

.display .map-section {
  margin-bottom: 0;
  margin-top: 0;
}

.map-container {
  display: flex;
  flex-direction: column;
}

.map,
.stop {
  flex: 1;
  width: 100%;
}

img.map,
img.stop {
  border: 1px solid black;
}

.sidebar-section {
  flex: 1;
  margin-right: 15px;
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
  }

  .layout {
    flex-direction: column-reverse;
  }

  .map-sections {
    flex: 100%;
  }

  .sidebar-section {
    flex: 100%;
    margin-right: initial;
    max-width: initial;
  }
}
